<script setup lang="ts">
import { usecustomerStore } from "@/stores/customer";
import { onMounted } from "vue";

import CustomerDialog from "./CustomerDialog.vue";
const customerStore = usecustomerStore();

onMounted(async () => {
  await customerStore.getCustomer();
});
</script>
<template>
  <CustomerDialog></CustomerDialog>

  <v-btn @click="customerStore.dialog = true">Add New Customer</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of customerStore.customer" :key="item.id">
        <td>
          {{ item.id }}
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        <td>
          <v-btn class="mr-5" @click="customerStore.editCustomer(item)"
            >Edit</v-btn
          ><v-btn @click="customerStore.deleteCustomer(item.id!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
