<script setup lang="ts">
import { usecustomerStore } from "@/stores/customer";
import { ref } from "vue";
import { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);

const customerStore = usecustomerStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await customerStore.saveCustomers();
  }
}
</script>
<template>
  <v-dialog v-model="customerStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">Product</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col>
                <v-text-field
                  cols="12"
                  label="Name"
                  required
                  v-model="customerStore.editedcustomer.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length > 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Surname"
                  required
                  v-model.number="customerStore.editedcustomer.surname"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="customerStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
